body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.stats-container {
    margin: 20px;
    border: dotted green;
    min-width: 200px;
    height: 100px;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}